@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Keania One";
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: auto;
    max-width: 1900px;
    height: 100%;
    background-color: #121212;
}

button {
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bar_nome_user a .div_nome_user,
.bar_p_e a,
.bar_new a,
.bar_sair button {
    transition: .3s;
}

.bar_nome_user a .div_nome_user:hover,
.bar_p_e a:hover,
.bar_new a:hover,
.bar_sair button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bar_lateral {
    position: absolute;
    position: fixed;
    font-family: "Arial";
    z-index: 999;
    width: 300px;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    color: #ffffffff;
    background-color: #121212;
    box-shadow: #2a2a2a2a 10px 10px 10px 10px;
}

.bar_lateral button {
    background: none;
    border: none;
}

.bar_titulo {
    font-family: "Keania One";
    font-size: 2rem;
    width: 100%;
    display: flex;
}


.bar_nome_user a .div_nome_user {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_p_e a,
.bar_e a,
.bar_new a,
.bar_sair button {
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.bar_p_e a {
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar_e a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.bar_new a,
.bar_e a,
.bar_sair button,
.div_nome_user {
    display: flex;
    align-items: center;
    gap: 10px;

}

.bar_p,
.bar_new {
    margin-top: 10px;
}

.bar_sair {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.bar_lateral img {
    width: 30px;
}

.container {
    width: 100%;
    margin-left: 280px;
    padding: 5%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.superior {
    left: 0;
    width: 100%;
    height: 30%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.imagem_perfil {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_perfilcss input {
    display: none;
}

.imagem_perfilcss span img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: #121212 solid 3px;
    cursor: pointer;
}

.info_perfil {
    width: 30%;
}

.info_perfil {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.botao_editar {
    width: 100%;
    height: auto;
}

.botao_editar button {
    background-color: #fff;
    border: none;
    color: #121212;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;
}

.descricao_do_perfil {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffff;
    word-wrap: break-word;
    white-space: normal;
}

#input_nova_desc {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 2%;
    margin-right: 5%;
    border: none;
    border-radius: 5px;
}

.posts_do_user {
    width: 100%;

    display: flex;
    padding-left: 5%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4%;
}

.titulo_postagens {
    width: 100%;
    font-size: 1.5rem;
    padding: 2%;
    display: flex;
    justify-content: center;
    color: #D9D9D9;
    border-top: #d9d9d9 solid 5px;
    color: #D9D9D9;
}

.exibicao_post {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.exibicao {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: auto;

}

.post {
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.post .post_user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    width: 100%;
    min-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.post .img_post {
    width: 100%;
    margin-top: 20px;
    height: auto;

}

.post img,
.post video {
  max-width: 100%;
  max-height: 385px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
}

.curtida {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FD5560;
}

.botões_cc {
    margin-top: 10px;
    margin-left: 5px;
}

.botões_cvi {
    margin-top: -5px;
    margin-left: 5px;
}

.curtida button {
    border: none;
    background: none;
    cursor: pointer;
}

.curtida .qtd_curtida {
    width: 100%;
    display: flex;
    font-family: "Sofia Sans";
}

.desc_post {
    margin-top: 5px;
    width: 300px;
    height: auto;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.desc_post .desc_user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.desc_txt {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    white-space: normal;
}

.cond_curtida img {
    width: 50px;
    height: 40px;
}