@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1900px;
    height: 100vh;
    background-image: url(../assets/imgs/fundo.svg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #2A2A2A;
    padding: 5%;
    align-items: center;
    border-radius: 15px;
    box-shadow: #2a2a2a6b 0px 7px 7px 7px;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 20%;
    font-family: "Keania One";
    font-weight: lighter;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: "Keania One";
    margin-bottom: 2%;
}
.txt {
    color: #FFFFFF;
    font-size: 1rem;
}
.campo input {
    background-color: #EDEDED;
    border-radius: 10px;
    width: 100%;
    padding: 3%;
    border: none;
}

button {
    width: 100%;
    background-color: #EDEDED;
    font-family: "Keania One";
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    margin-top: 10%;
    padding: 3%;
}